.navbar-nav>li>a{
    font-size:18px;
}

.navbar-brand {
    font-size: 20px;
}
h2{
    text-align: center;
}
.thumbnail{
border: none;
}





.icon{
    max-width: 120px;
    margin: 0 auto;
    display: block;
}

.services section {
    text-align: center;
  }

  @media (max-width:767px) {
    .img-responsive {
        max-width: 50%;
        min-width: 300px;
    } 
}






















 